In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data_clean.csv")
df.head()

,Time,Latitude,Longitude,Altitude,Temperature,Pressure,AccelX,AccelY,AccelZ,GyroX,GyroY,GyroZ,MPU_Temperature
0,14797.0,0,0,19.39,17.08,101092.28,-0.82,9.73,-0.19,-0.04,0.04,-0.02,17.94
1,15315.0,0,0,19.38,17.08,101092.45,-1.04,9.73,-0.09,-0.03,0.03,-0.01,17.94
2,15819.0,0,0,19.35,17.08,101092.77,-0.79,9.73,-0.20,-0.03,0.03,-0.01,17.96
3,16299.0,0,0,19.35,17.08,101092.77,-0.89,9.75,-0.17,-0.03,0.04,-0.02,17.96
4,16820.0,No info on Latitude,No info on Longitude,19.35,17.08,101092.77,-0.91,9.72,-0.14,-0.03,0.03,-0.01,17.96

In [3]:
max(df["Altitude"])

101113.73

In [ ]:
# Time for first good GPS reading after the apogee 
(1339333-1147785)/10000

19.1548

In [ ]:
# Time beforefirst good GPS reading after the apogee 
(1147785-977389)/10000

17.0396

In [ ]:
df.loc[df['Latitude'] == df['Latitude'].max(), 'Altitude']

1347    18.00
2292    17.84
2431    17.79
Name: Altitude, dtype: float64

In [ ]:
df.columns

Index(['Time', 'Latitude', 'Longitude', 'Altitude', 'Temperature', 'Pressure',
       'AccelX', 'AccelY', 'AccelZ', 'GyroX', 'GyroY', 'GyroZ',
       'MPU_Temperature'],
      dtype='object')

In [16]:
# Assuming 'df' is your DataFrame
max_alt_row = df.loc[df['Altitude'].idxmax()]

In [17]:
max_alt_row

Time                     NaN
Latitude               17.60
Longitude              17.84
Altitude           101113.73
Temperature             0.31
Pressure                9.47
AccelX                  1.84
AccelY                 -0.02
AccelZ                  0.11
GyroX                  -0.05
GyroY                  19.56
GyroZ                    NaN
MPU_Temperature          NaN
Name: 2274, dtype: object